@import '../../styles/variables.scss';

$imageSize: 180px;

.linkContainer {
  text-decoration: none;
}
.ItemList {
  display: flex;
  background: white;
  align-items: center;
  min-height: $imageSize + $separationMargin;
  padding: $separationMargin;
  border-radius: 2px;
  flex-basis: 100%;
  flex-wrap: wrap;
  position: relative;
  text-decoration: none;
  color: $grey;
  .itemDetails {
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
  }
  .priceContainer {
    display: flex;
    margin-bottom: $x2SeparationMargin;
    align-items: center;
    .price {
      color: $darkText;
      font-size: 24px;
      text-decoration: none;
    }
    .shippingIc {
      margin-left: 10px;
      width: 18px;
      height: 18px;
    }
  }
  .title {
    font-size: 18px;
    color: $title;
    margin-top: 0;
  }
  .ItemImg {
    margin-right: $separationMargin;
    width: $imageSize;
    height: $imageSize;
    border-radius: 4px;
  }
  .addressInfo {
    margin-bottom: 0;
    font-size: 12px;
    margin-top: 0;
    text-align: right;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 97%;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
    margin: 0 auto;
  }

  &:hover {
    background: lighten($title, 58%);
  }
}

@media only screen and (max-width: $minimalMQ) {
  .ItemList {
    justify-content: center;
    flex-direction: column;
    .ItemImg {
      margin-bottom: $separationMargin;
      margin-right: 0;
    }
  }
}
